body{
    background-image: url("../imagenes/Gasol.jpg");/* llama a la foto */ 
    background-color: rgba(0, 0, 0, 0.5); /* define el color y el ultimo valor define la opacidad  */
    background-blend-mode: overlay; /* Unifica el color com la imagen de fondo */ 
    background-repeat: no-repeat ; /* hace que la imagen no se repita */ 
    background-size: 100% auto; /* Hace que cuando se hace zoom se ajuste la imagen */
  }


.cont{/*Contenedor gris claro que se sobrepone sobre la imagen, se creo solo este clase para la parte de registro de ususario*/
  border-radius: 10px;
  background-color: #A6A6A6;
  margin: 20px 400px 20px 400px  ;
  justify-content: center;
  padding: 25px;
  height: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
  align-items: center;
}




h2.textNorm{/*Texto normal, que es el que se ve constantemente*/
 color: rgb(38, 38, 38);
 font-size: 45px;
}
.textEsp{/*Se le dio este nombre como para decir cuales son los titulos por eso texto especial*/
  color: black;
  font-size: 50px;
  margin-left: 5px; 
  justify-self: start
   }

 .navbar {/*Barra de navegación*/
  display: flex;
  margin-right: 0px;
  align-items: center;/*alinea todas las palabras de manera horizontal*/
  display: flex;/*Define que el cabezal sea flexible y pueda tener valores segundarios*/
  justify-content: space-between; /* Acomoda las palabras de manera proporcional*/
  height: 50px; /* se acomoda el tamano del cabezal*/
  background: #2C2C2C;
  position: fixed; /* hace que sea fijo el cabezal*/
  width: 100%;/*ancho del cabezal*/
}
  

.logoOk {
  width: 8%;
  margin-right: 2px;
  float: left;
  
}
.textLog{/*Se le dio este nombre como para decir cuales son los titulos por eso texto especial*/
  color: black;
  font-size: 50px;
  margin-left: 5px; 
  margin-right: 30px;
  justify-self: start
   }


.contenedorText{
  /* display: grid;
  place-items: center; */
  display: flex; /* Utiliza flexbox para alinear elementos */
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items:center; /* Centra los elementos verticalmente */
    
}

.btnRegistro{
  border-radius: 25px;
  background-color: #e7e019;
  border-color: black;
  margin-left: 18px;
  margin-right: 18px;
  color: black;
  font-size: 18px;
  cursor: pointer;
}
.btnRegistro:hover{
  background-color: #7d7905;
  border-color: black;
  color: black;
}

.btnRegistro:active{
  background-color: #7d7905 !important;
  border-color: black;
  color: rgb(231, 231, 231);
}

